<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>121552352022-fvaqbrgr541s3um1amlgvmrdl3o05r90.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.121552352022-fvaqbrgr541s3um1amlgvmrdl3o05r90</string>
	<key>API_KEY</key>
	<string>AIzaSyBmI5z2svve3T9aq16nAa3CSxzzkInLRaI</string>
	<key>GCM_SENDER_ID</key>
	<string>121552352022</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.noExcuses</string>
	<key>PROJECT_ID</key>
	<string>no-excuses-f5c0f</string>
	<key>STORAGE_BUCKET</key>
	<string>no-excuses-f5c0f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:121552352022:ios:532280abe5c05318a89637</string>
</dict>
</plist>